* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


.sidebar {
    background-color: #06005a;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.profile {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.profile img {
    max-width: 50%;
    height: auto;
    display: block;
}

.profile h1 {
    margin: 0;
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: right;
    margin-left: 10px;
}

.sidebar a {
    font-size: 18px;
    margin-bottom: 1rem;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.content {
    padding-top: 20px;
    margin-left: 200px; /* Adjust margin-left based on sidebar width */
}

.content-header {
    display: flex;
    align-items: center;
}

.content h1 {
    font-size: 2.5rem;
    margin: 0;
}

.content .logo {
    height: 100px; /* Adjust logo height as needed */
    margin-left: 20px; /* Adjust margin-left based on sidebar width */
}

.search-bar {
    width: 100%;
    max-width: 400px; /* Limit maximum width for larger screens */
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
